@* @using Microsoft.JSInterop;
@inject IJSRuntime JS;
@page "/warp"

<div id="warp">
    <canvas id="canvas"></canvas>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeAsync<object>("new WarpSpeed();", "canvas");
    }
} *@